body{
    background-color: black;
}
.header2{
    display: flex;
    justify-content: right;
    font-family: Arial;
    list-style: none;
    justify-content: space-around; 

}
.roxo{
    color: rgb(109, 80, 189);
    font-size: 40px;
    line-height: 1px;
}
.branco{
    color: aliceblue;
    font-size: 40px;
    line-height: 1px;
    
}
.branquinho{
    color: aliceblue;
    font-size: 15px;
}
.Imagem{
    display: flex;

}
.cidade{
    line-height: 50px;
    
}
section.container {
	width: 50px;
	display: inline-block;
}

