/* >>> INÍCIO RESET CSS <<< */

/* >>> RESET BASICO DAS MÍDIAS <<< */

object,
embed,
video,
iframe,
img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.calendar {
  /* >>> ALINHAMENTO DO CALENDÁRIO <<< */
  text-align: center;
  margin-top: 20px;
}

.calendar-header {
  /* >>> ALINHAMENTO DO HEADER DO CALENDÁRIO <<< */
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  color: #D6B00F;
}

.calendar-header button {
  /* >>> ESTILIZAÇÃO DO BOTÃO PARA MUDAR O MÊS <<< */
  background: none;
  color: #D6B00F;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.calendar-grid {
  /* >>> CONFIGURAÇÃO DE GRID DO CALENDÁRIO <<< */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;

}

.day-of-week {
  /* >>> CONFIGURAÇÃO DIA DA SEMANA <<< */
  background-color: #C39910;
  color: white;
  border: 1px solid #A28408;
  font-weight: bold;
  padding: 8px;
}


.empty-day {
  /* >>> CONFIGURAÇÃO DE DIA VAZIO <<< */
  background-color: transparent;
}

.day {
  /* >>> CONFIGURAÇÃO DO DIA <<< */
  background-color: black;
  text-align: left;
  position: relative;

  border: 1px solid #A28408;
  cursor: pointer;
  padding: 2px 0 0 3px;
}

.day-number {
  /* >>> CONFIGURAÇÃO DO NÚMERO DO DIA <<< */
  font-weight: bold;
  font-size: 100%;
  color: white;
}

.event {
  /* >>> CONFIGURAÇÃO DO EVENT <<< */
  background-color: #3498db;
  color: white;
  padding: 4px;
  margin: 2px;
}

h1 {
  /* >>> CONFIGURAÇÃO DO H1 <<< */
  margin: 0;
}

button.btn.btn-primary {
  /* >>> CONFIGURAÇÃO DO BOTÃO TO-DO <<< */
  background-color: transparent;
  border: none;

}

.comp_menu {
  margin-left: -12px;
}