/* >>> INÍCIO RESET CSS <<< */

*{

  /* >>> RESETANDO AS CONFIGURAÇÕES <<< */
  margin: 0;
  padding: 0;
  font-family:'arial';
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* >>> RESET BASICO DAS MÍDIAS <<< */

object, embed, video, iframe, img{
  max-width: 100%;
  vertical-align: middle;
}
ul{
  list-style: none;
}

/* >>> RESET PARA FORMULÁRIOS EM TODOS DISPOSITIVOS <<< */

fieldset{
  border: 0;
}
input, select, textarea{
  padding: 10px;
  width: 100%;
}
input.btn{
  width: auto;
  cursor: pointer;
}

/* >>> VAI SER A BOX DE CONTROLE <<< */
.container{
  float: left;
  width: 100%;
  background-color: #e9ecf0;
}
.clear{
  clear: both;
}
.fontzero{
  font-size: 0;
}

/* >>>  É UMA SEÇÃO DE TÍTULO <<< */

.section_title{
  font-size: 1em;
  text-align: center;
  color: #333;
}

/* >>> FINAL REST CSS <<< */

.calendar {
  text-align: center;
  margin-top: 50px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  color: #D6B00F;
}

.calendar-header button {
  background: none;
  color: #D6B00F;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week {
  background-color: #C39910;
  color: white;
  border: 1px solid #A28408;
  font-weight: bold;
  padding: 8px;
}

.empty-day {
  background-color: transparent;
}

.day {
  background-color: black;
  text-align: left;
  position: relative;
  width: 170px;
  height: 105px;
  border: 1px solid #A28408;
  cursor: pointer;
  padding: 2px 0 0 3px;
}

.day-number {
  font-weight: bold;
  font-size: 100%;
  color: white;
}

.event {
  background-color: #3498db;
  color: white;
  padding: 4px;
  margin: 2px;
}
h1{
  margin: 0;
}

button.btn.btn-primary {
  background-color:transparent;
  border: none;
}
