
projetos/The Buttons/css/tarefas.css
/projetos/thebuttonscompletoCOPIA/back/__pycache__
/projetos/the buttons 04_06/back/__pycache__
/projetos/the buttons 04_06/back/Lib
/projetos/the buttons 04_06/back/Scripts
/projetos/the buttons 04_06/back2/Lib
/projetos/the buttons 04_06/back2/__pycache__
/projetos/the buttons 04_06/back2/Scripts
/projetos/the buttons 04_06/node_modules
/projetos/thebuttonscompleto/back/Lib
/projetos/thebuttonscompleto/back/Lib
/projetos/thebuttonscompleto/back/Lib
/projetos/thebuttonscompleto/back2/Lib
