/* >>> ORGANIZAÇÃO GERAL <<< */
.container{
  max-width: 100% !important;
  padding: 0 !important;
  display: flex;
  background-color:#191D2A;
}
.menu-box{
  max-width: 10%;
  height: 729px;
}

.calendar-box{
  max-width: 95%;
}
/* >>> TAMANHO DA DIV DO CALENDÁRIO <<< */
.calendar{
  width: 78%;
}
/* >>> FINAL DA ORGANIZAÇÃO GERAL <<< */

/* >>> INÍCIO MODAL <<< */
#adicionar-click { /* >>> BOTÃO DO FORMULÁRIO <<< */
  text-align: center;
  width: 70px;
  height: 70px;
  background-color:#D6B00F;
  border-radius: 50px;
}
.logo{
  position: absolute;
  top: 0px;
  right: 10px;
  width: 200px;
}
/*Aqui a imagem de '+' da adição de tarefa é modificada */
.image1{
  width: 18px;
}
.modal-body { /* >>> COR DO MODAL <<< */
  background-color: #191D2A;
  color: aliceblue;
}
.modal-header {
  background-color: #191D2A;
  color: white;
}
.adicionar-compromisso { /* >>> COR DE ONDE ESTÁ ESCRITO "COMPROMISSO" <<< */
  background-color: #191D2A;
  text-align: center;
}

.rodape { /* >>> COR DO FOOTER <<< */
  background-color:#191D2A;
}

.horario-compromisso{ /* >>> COR DO HORÁRIO <<< */
  background-color: #F4EFDF;
  color: black;
  border: none;
  border-radius: 10px;
}
button.btn.btn-primary {
  border: none;
} 
button.btn.btn-primary:hover{
  background-color:transparent;
}
.hor-edit { /* >>> DISPLAY PARA DEIXAR O O INÍCIO DO HORÁRIO E O TÉRMINO UM DO LADO DO OUTRO <<< */
  display: flex;
  color: black;
}
.descri{
  background-color: #F4EFDF !important;
}
.repeat-color{
  background-color: #F4EFDF !important;
}
.category-color{
  background-color: #F4EFDF !important;
}
.ini-color{
  background-color: #F4EFDF !important;
}
.ate-color{
  background-color: #F4EFDF !important;
}
.date-color{
  background-color: #F4EFDF !important;
}
.til-color{
  background-color: #F4EFDF !important;
}
/* >>> FINAL MODAL <<<*/

/*Inicio MenuLateral*/
/*Cor do Menu Lateral*/
.offcanvas-body {
  background-color: #191D2A;
}
.iconess{
  display: flex;

}
.offcanvas.offcanvas-start.show {
  background-color: #191D2A;
}
/*cor do botão que chama o menu*/
button.chamar_menu.btn.btn-primary {
  background-color:transparent;
  border: none;
}
/*cor de fundo do menu*/

/*tamanho da logo*/
.logo_coruja img {
  width: 20%;
}
/*display nos elementos do perfil*/
.perfil {
  display: flex;
}
/*margem do x que fecha o menu*/
.fechar_menu {
  margin-left: 350px;
  
}
/*tamanho da imagem de perfil*/
.imagem1 {
  width: 100px;
  margin-left: 133px;
}
/*css do nome do usuarioa*/
.name {
  font-size: larger;
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
}
/* arrumando a cor dos botoes */
button.comp_menu.btn.btn-primary {
  background-color: transparent;
}
/*arrumando a cor dos botoes*/
button.linke2.btn.btn-primary {
  background-color: transparent;
}
a{
  margin-left: 13px;
}
/*tamanho logo do instagram e margin para posicionar*/
.insta{
  width: 50px;
  margin-right: 20px;
}
/*tamanho logo facebook e margin para distanciafr do instagram*/
.face{
  width: 50px;
  margin-right: 20px;
}
/*tamanho da logo do whatsapp e distanciamento do facebook*/
.whats{
  width: 50px;
  margin-right: 50px;
}
/*posicionamento logos parte inferior dop menu lateral*/
.redes{
  margin-top: 100px;
  justify-content: space-around;
  display: flex;
}
.item {
  width: 300px;
  margin-top: 30px;
  height: 40px;
  border-bottom: 2px solid #D6B00F;
  padding-top: 5px;
}
/*fim MenuLateral*/
/*Inicio das atividades*/
button.text.btn.btn-primary {
  width: 0px;
  border: none;
  margin: 0;
  padding: 0;
}

/*Fim das atividades*/

/*inicio do calendario*/
/*ajustar tamanho*/
.image{
  margin-top: 50px;
}
/*fim do calendario*/

div.modal-content {
  background-color: #3d4b80;
}

.description-color{
  background-color: #F4EFDF !important;
}

div.modal-footer{
  background-color: #191D2A;
}

h4 {
  text-align: center;
}

button.linke.btn.btn-primary {
  text-align: center;
  margin-left: -13px;
}

.box{
  margin-left: 100px;
  margin-top: 18px;
  font-size: 1em;
}

ul {
  list-style-type: none;
}

li {
  color: white;
}
.exit{
  margin-right: 15px;
}