.container_doc {
    max-width: 800px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.form-pagss {
    width: 700px;
    height: 735px;
    margin: 0 auto;
    background-color: rgb(60, 69, 97);
    border-radius: 30px;
    padding: 3px;
}

.form-pagss label {
    margin-bottom: 10px;
    margin-left: 80px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.form-pagss input {
    width: 550px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.botaocont {
    background-color: #C39910;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 275px;
    font-weight: bold;
}

.form-pagss button:hover {
    background-color: #A28408;
}
.menu_doacao {
    position: absolute;
    top: 10px;
    left: 30px;
}
.titulocont {
    margin-top: 10px;
    text-align: center;
    color: #C39910;
    font-weight: bold;
}

.textapoio{
    text-align: center;
}