/*fonte e cor de fundo de todo site*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(25, 29, 42);
}
/*alinhamneto e cor dos h1*/
h1{
text-align: center;
color:rgb(25, 29, 42);
}
/*alinhamneto e cor dos h3*/
h3{
    text-align: center;
    color:rgb(25, 29, 42);
    }
/*cor e fonte dos textos*/
.formulario {
    color: rgb(25, 29, 42);
    font-family: Arial, Helvetica, sans-serif;
}
/*tamanho que a div ocupa no site, com o tamanho do texto e o alinhamento*/
.cadastro{
    margin: auto;
    width: 40%;
    font-size: 15px;
}
/*configurações de todos os inputs como tamanho, espaçamento, alinhamneto, display, borda e cor da div*/
input[type=text], select {
    width: 100%;
    padding:12px 20px ;
    margin: 8px 0 ;
    display:inline-block ;
    border:1px solid #ccc ;
    border-radius:4px ;
    box-sizing:border-box ;
    background-color: #fffbe8;
}
/*configurações de todos os inputs como tamanho, espaçamento, alinhamneto, display, borda e cor da div*/
input[type=date], select {
    width: 100%;
    padding:12px 20px ;
    margin: 8px 0 ;
    display:inline-block ;
    border:1px solid #ccc ;
    border-radius:4px ;
    box-sizing:border-box ;
    background-color: #fffbe8;
}
/*configurações de todos os inputs como tamanho, espaçamento, alinhamneto, display, borda e cor da div*/
input[type=tel], select {
    width: 100%;
    padding:12px 20px ;
    margin: 8px 0 ;
    display:inline-block ;
    border:1px solid #ccc ;
    border-radius:4px ;
    box-sizing:border-box ;
    background-color: #fffbe8;
}
/*configurações de todos os inputs como tamanho, espaçamento, alinhamneto, display, borda e cor da div*/
input[type=email], select {
    width: 100%;
    padding:12px 20px ;
    margin: 8px 0 ;
    display:inline-block ;
    border:1px solid #ccc ;
    border-radius:4px ;
    box-sizing:border-box ;
    background-color: #fffbe8;
}
/*configurações de todos os inputs como tamanho, espaçamento, alinhamneto, display, borda e cor da div*/
input[type=password], select {
    width: 100%;
    padding:12px 20px ;
    margin: 8px 0 ;
    display:inline-block ;
    border:1px solid #ccc ;
    border-radius:4px ;
    box-sizing:border-box ;
    background-color: #fffbe8;
}
/*configurações de todos os inputs como tamanho, espaçamento, alinhamneto, display, borda e cor da div*/
input[type=button], select {
    width: 100%;
    padding:12px 20px ;
    margin: 8px 0 ;
    display:inline-block ;
    border:1px solid ;
    border-radius:4px ;
    box-sizing:border-box ;
    cursor: pointer;
    background-color: #344f8e;
    color: #fff;
    font-weight: bold;
}
 /*hover dos botões*/
input[type=button]:hover{
    background-color:#110d2d;
}
/*borda, cor e espaçamento de toda a div*/
div {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}