#comousar{
    display: grid;
  
}
.comousar_item{
    background-color: #5a0a83;
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 25px;
    font-weight: bold;
}
#item_1{
    margin-left: 10px;
}
#item_2{
    margin-left: 10px;
}
#item_3{
    margin-left: 10px;
    height: 500px;
}
#item_4{
    margin-left: 10px;
}
#item_5{
    margin-left: 10px;
}
#item_6 img{
    margin-left: 20px;
    width: 80%;
    height: 70%;
}
.comousar_item img{
    max-width: 50px;
}
#item_1{grid-area: card1;}
#item_2{grid-area: card2;}
#item_3{grid-area: card3;}
#item_4{grid-area: card4;}
#item_5{grid-area: card5;}
#item_6{grid-area: card6;}
#comousar{
    grid-template-areas:
    "card1 card2 card3 card6"
    "card4 card5 card3 card6";
    gap: 5px;
}
.corujonauta_comousar{
    display: flex;
}
