.fooo{
    margin-top: 200px;
    border-top: 1px solid rgb(214, 189, 1);

}
.redes_sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.texto_f{
    color: rgb(214, 189, 1);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

