/*configuração da imagem de fundo, cor de fundo e a fonte utilizada em todo site*/
body{
    background-image: url(../image/castel_resized.jpg);
    background-repeat: no-repeat;
    background-color: rgb(25, 29, 42);
    font-family: Arial, Helvetica, sans-serif;
}

/* Início Menu, com display, alinhamento e tamanho de toda nav*/
nav {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 0;
    width: 100%;

}

/*hover do li do menu*/
li:hover{
    color: #ffee00;
}

/*alinhamento e display nos elementos do inicio*/
.inicio {
    justify-content: right;
    display: flex;
}

/*cor e display em todos os a*/
a{
    color: white;
    text-decoration: none;
    display: block;
}

/*ajuste e espaçamento do li*/
.manu {
    list-style-type: none;
    padding: 20px;
}

/*borda arredondada e espaçamento do li do login */
.login {
    list-style-type: none;
    border: 2px solid #ffee00;
    padding: 12px;
    border-radius: 50px;
}

/*posição, alinhamento e display no logo na parte superior do site */
#logo {
    position: absolute;
    top:5px;
    left: 20px;
    display: block;
}
/*Final Menu*/

/* Início Página*/
/*dispaly e cor de todos os elementos dentro do container_menu*/
#container_menu{
    display: flex;
    color: #fff;
}

/*tamanho, display e alinhamento da imagem da frase do home*/
.frase{
    width: 60%;
    display: block;
    margin-left: 185px;
    margin-top: 240px;
}

/*tamanho da letra e alinhamento do p da div frase*/
.frase p {
    font-size: 18px;
    margin-left: 120px;
    width: 100%;
    text-align: center;
}
/*fim da página inicial*/

/*inicio balão do fale conosco, com o display, alinhamneto, espaçamento, borda, cor e cursor do fale conosco*/
.fale {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 7px;
    border: 3px solid #000000;
    border-radius: 50px;
    margin: 30px;
    text-align: center;
    background-color: rgb(214, 189, 1);
    cursor: pointer;
}

/*alinhamento, cor e bold do p dentro do fale*/
.fale p{
    margin: 10px;
    color: #000000;
    font-weight: bold;
}

/*hover do fale conosco*/
.fale:hover{
    background-color: #409ed5;
}
/*fim de balão do fale conosco*/
