body{
    background-color:  #eac0ff;
    margin-left: 100px;
    margin-right: 100px;
}
/* Início Menu*/
nav {
    background-color: #5a0a83;
}
.menu {
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
    padding: 15px;
}
.login{
    background-color: #5a0a83;
    color: white;
    border: 2px solid white;
    
}
#corujonautaaa {
    position: absolute;
    width: 90px;
    top: 0;
    left: 130px;
    padding: 10px;
}
/*Final Menu*/
/* Início Página*/
#container_menu{
    display: flex;
}
.coruja_aponta img{
    width: 60%;
}

.fotinha{
    width: 40%;
    margin-right: 50px;
}
.fotinha img{
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 600px;
    width: 79%;
    height: 55%;
}
.fale {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px;
    border: 2px solid #eac0ff;
    border-radius: 50px;
    margin: 30px;
    align-items: center;
    background-color: #5A0A83;
    cursor: pointer;
}
.fale p{
    margin-left: 10px;
}
.fale:hover{
    background-color: #a218e7;
}