body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../image/teste.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: #5A0A83;
}

.formulario {
    color: #5A0A83;
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    width: 40%;
    font-size: 15px;
    margin-left: 30%;

  }

  .logininferior {
    margin: auto;
    width: 40%;
    font-size: 15px;

  }

h3 {
    text-align: center;
    color: #5A0A83;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fffbe8;
  }

input[type=password]{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fffbe8;
}

  input[type=button] {
    width: 100%;
    background-color: #5A0A83;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit] {
    width: 100%;
    background-color: #5A0A83;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

   input[type=button]:hover {
    background-color: #a218e7;
  }
 
  div.formulario {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
  }