
/*corpo do site com a fonte e gif do background*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;
    background-image: url(../image/magic.gif);
  
}

/*h1 do formulario*/
h1 {
    text-align: center;
    color:rgb(25, 29, 42);
}

/*configuração da cor e fonte da letra do formulario*/
.formulario {
    color:rgb(25, 29, 42);
    font-family: Arial, Helvetica, sans-serif;
}

/*espaço, tamanho da letra e margem do formulario*/
.login {
    width: 40%;
    font-size: 15px;
    margin-left: 30%;

  }

/*espaço, tamanho da letra e margem do formulario inferior*/
  .logininferior {
    margin: auto;
    width: 40%;
    font-size: 15px;

  }
/*configurações de todos os h3 do formulario*/
h3 {
    text-align: center;
    color:rgb(25, 29, 42);
}


/*configuração de todos os inputs presentes no formuario, como tamanho, cor, espaço e borda*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fffbe8;
  }

input[type=password]{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fffbe8;
}

  input[type=button] {
    width: 100%;
    background-color: #344f8e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
/*hover do botão*/
   input[type=button]:hover {
    background-color: #110d2d;
  }
  /*fim da configuração do input*/

 /*parte para fazer o quadro do formulario*/
  div.formulario {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
  }