/*fonte e cor de fundo de todo site*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;
    background-image: url(../image/magic.gif);

}

/*alinhamneto e cor dos h1*/
h1 {
    text-align: center;
    color:white;
}

/*cor e fonte dos textos*/
.formulario {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

/*tamanho que a div ocupa no site, com o tamanho do texto e o alinhamento*/
.login {
    width: 40%;
    font-size: 15px;
    margin-left: 30%;

  }

  /*tamanho, alinhamento e tamanho da fonte da parte do login com*/
  .logininferior {
    margin: auto;
    width: 40%;
    font-size: 15px;

  }

  /*alinhamento e cor dos h3*/
h3 {
    text-align: center;
    color:white;
}

/*configurações de todos os inputs como tamanho, espaçamento, alinhamneto, display, borda e cor da div*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #fdf3c5;
  }

input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #fdf3c5;
}

  input[type=button] {
    width: 100%;
    background-color: rgb(107, 120, 163);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
  }

  /*hover dos botões*/
   input[type=button]:hover {
    background-color: #7acada;
  }

/*borda, cor e espaçamento de toda a div*/
  div.formulario {
    border-radius: 50px;
    background-color: rgb(25, 29, 42);
    padding: 20px;
  }