.imagemsobre {
    margin-left: 500px;
    margin-top: 330px;
}

.imagemcervo {
    display: flex;
}

.imagemcervo {
    margin: 200px;
    justify-content: center;
    background-color: rgb(1, 5, 13);
    border: 2px solid rgb(214, 189, 1);
    margin-top: 10px;
}

.imagemcervo p {
    color: #fff;
    font-size: 23px;
    text-align: center;
    margin-right: 120px;
    margin-top:30px;
}

