.calendario1{grid-area:time0;}
.lembretes1{grid-area:time1;}
.personalize1{grid-area:time2;}
.eventos1{grid-area:time3;}
.tarefas1{grid-area:time4;}

.Ferramenta_img{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-areas:
    "time0 time1"
    "tiem2"
    "time3 time4";
    gap: 10px;
}
.ferramentas_1{
   max-width: 50px;
   
}
.calendario1{
  margin-left: 10px;
  height: 100px;
   width: 480px;
}
.lembretes1{
    height: 100px;
   width: 480px;

}
.personalize1{
    height: 100px;
   width: 480px;

}
.eventos1{
    height: 100px;
   width: 480px;
}
.tarefas1{
    height: 100px;
   width: 480px;
}
#Ferramenta_img{
    display: grid;
}