#ferramentas_1{
    margin-left: 10px;
}
#ferramentas_2{
    margin-left: 10px;
}
#ferramentas_3{
    margin-left: 10px;
}
#ferramentas_4{
    margin-left: 10px;
}
#ferramentas_5{
    margin-left: 10px;
}
.imagem_ferramenta img{
    margin-left: 20px;
    max-width: 500px;
}
.ferramentas_corpo img{
    /*essa parte do codigo se localiza a parte de borda das imagens na parte de ferramentas*/
   max-width: 70px;
   text-align: center;
   width: 500px;
    margin: auto;
    border: 3px solid #b75ce4;
}
.ferramentas_corpo img:hover{
    /*botões de ferramentas*/
    max-width: 100px;
    transition: 400ms linear;
}
.ferramentas_corpo{
    /*Bordas das imagens e cor das letras*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: grid;
    color: white;
    text-align: center;
    margin-left: 10px;
    border-style: solid;
    border-width: 20px;
    border-color:#b75ce4;
    gap: 10px;
}
#ferramentas_1/*calendario*/
#ferramentas_2 /*lembretes*/
#ferramentas_3 /*personalize*/
#ferramentas_4  /*eventos*/
#ferramentas_5  /*tarefas*/
#ferramentas_imagem{grid-area:time9;}

#ferramentas_imagem{
    border-top: 1px solid #fff;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    margin: 20px;
    border: 2px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    align-items: center;
}
.ferramentas_corpo div{
    border: 2px solid;
    background-color: #5a0a83;
    display: flex;
}
