#calendario1{grid-area: time0;}
#lembretes1{grid-area: time1;}
#personalize1{grid-area: time2;}
#eventos1{grid-area: time3;}
#tarefas1{grid-area: time4;}

.ferramentas_corpo img{
   max-width: 50px;
}
#calendario1{
    background-color: #5a0a83;
    margin-left: 10px;
    height: 100px;

    
   width: 480px;
}
#lembretes1{ 
   margin-left: 10px;
}
#personalize1{
   
   margin-left: 10px;
}
#eventos1{
    margin-left: 10px;
}
#tarefas1{
   margin-left: 10px;
}
.ferramentas_corpo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-areas:
        "TIME0 TIME0 TIME0"
        "time1 time2 time3"
        "time4 time5 time6 "
        "time7 time7 time7";
    gap: 10px;
    background-color: #5a0a83;
    color: white;
    
}