.calendar-container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  /* Alinha os itens no início da linha */
  align-items: flex-start;
  /* Alinha os itens no topo */
}

.calendar-wrapper {
  width: 95%;
  /* Define o tamanho da div do calendário */
  margin-right: 20px;
  /* Espaço entre o calendário e a lista de tarefas */
}

.scroll {
  max-height: 330px;
  /* Ajuste a altura conforme necessário */
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Barra de rolagem personalizada */
.scroll::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra de rolagem */
}

.scroll::-webkit-scrollbar-track {
  background: rgb(60, 69, 97);
  /* Cor do fundo da barra de rolagem */
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #d6af2c;
  /* Cor do "polegar" da barra de rolagem */
  border-radius: 10px;
  border: 2px solid rgb(61, 75, 105);
  /* Espaçamento ao redor do polegar */
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #C39910;
  /* Cor do polegar ao passar o mouse */
}

/* >>> DIV DO BOTÃO DE ADICIONAR TAREFA <<< */
.btn-add {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* >>> BOTÃO DE ADICIONAR TAREFA <<< */
.btn-add-task {
  background-color: #C39910;
  border-radius: 50px;
  border-color: 0px;
  border: none;
}

button.react-calendar__navigation__label:hover {
  background-color: none;
}

.react-calendar {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Adiciona sombra para destaque */
  border: none;
  background-color: rgb(25, 29, 42);
}

/* >>> COR DOS DIAS DO FINAL DE SEMANA <<<*/
.react-calendar__month-view__days__day--weekend {
  color: #C39910 !important;
}

.react-calendar button {
  margin: 0;
  border: 1px solid #EFCD5E;
  outline: none;
}

/* >>> ESTILIZAÇÃO DO DIA DO MÊS QUE NÃO É O ATUAL <<< */
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: rgb(61, 75, 105) !important;
}

button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
  background: rgb(61, 75, 105);
}


/* >>> ESTILIZAÇÃO DO DIA DA SEMANA <<< */
.react-calendar__month-view__weekdays {
  color: rgb(25, 29, 42);
  text-align: center;
  font: inherit;
  font-weight: bold;
  background-color: #C39910;
}

/* ESTILIZAÇÃO PARA A BORDA DE DOS DIAS DA SEMANA  */
.react-calendar__month-view__weekdays__weekday {
  border: 1px solid #EFCD5E;
}

abbr[title] {
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

/* >>> ESTILIZAÇÃO DA SETA QUE MUDA O MÊS LADO DIREITO <<< */
button.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
  border: none;
  color: #C39910;
}

/* >>> ESTILIZAÇÃO DA SETA QUE MUDA O MÊS LADO ESQUERDO <<< */
button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  border: none;
  color: #C39910;
}

/* >>> ESTILIZAÇÃO DA SETA QUE MUDA O ANO LADO DIREITO <<< */
button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  border: none;
  color: #C39910;

}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  border: none;
  color: #C39910;
}

button.react-calendar__tile.react-calendar__month-view__days__day {
  color: white;
}

/* >>> COR DO MÊS-ANO <<<*/
button.react-calendar__navigation__label {
  color: #C39910;
  font-size: larger;
  font-weight: bold;
  border: none;
}

.react-calendar__month-view__days {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/* >>> COR DE FUNDO DO DIA ATUAL <<<*/
.react-calendar__tile--now {
  background: #C39910;
}

/* >>> COR DE FUNDO DO DIA SELECIONADO <<< */
.react-calendar__tile--active {
  background: rgb(60, 69, 97);
  color: white;
}

/* >>> COR DO DIA SELECIONADO <<<*/

.react-calendar__tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 1.5em;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  width: 400px;
  max-height: 90%;
  overflow-y: auto;
}

.Modal h2 {
  margin-bottom: 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.tasks-list {
  margin-top: 0;
  /* Remove a margem superior */
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Adiciona sombra para destaque */
  background-color: rgb(60, 69, 97);
  border-radius: 13px;
  margin-right: 15px;
}

.tasks-list ul {
  list-style-type: none;
  padding-left: 0;
}


.tasks-list li {
  display: flex;
  justify-content: space-between;
  /* Espaça o título e o botão */
  align-items: center;
  /* Alinha verticalmente o título e o botão */
  margin-bottom: 80px;
  padding: 15px;
  background-color: rgb(25, 29, 42);
  /* Cor de fundo sutil */
  border: 2px solid #C39910;
  border-radius: 4px;
  /* Cantos levemente arredondados */
  width: 100%;
}

.tasks-list li:not(:last-child) {
  margin-bottom: 15px;
  /* Espaçamento extra entre as tarefas */
}

.tasks-list li::after {
  content: '';
  display: block;
  margin-top: 10px;
  /*border-bottom: 1px solid #ccc; /* Linha separadora */
}

.tasks-list li:last-child::after {
  border-bottom: none;
  /* Remove a linha após a última tarefa */
}

.tasks-list li span {
  font-size: 16px;
  /* Tamanho de fonte das tarefas */
  font-weight: 500;
  /* Peso da fonte */
  flex: 1;
}

.tasks-list li button {
  font-size: 14px;
  /* Tamanho de fonte dos botões */
  white-space: nowrap;
  /* Impede que o botão quebre para a linha seguinte */
}

.addtask {
  margin-top: 10px;
  margin-bottom: 20px;
}

button.react-calendar__tile.react-calendar__decade-view__years__year {
  color: white;
}

button.react-calendar__tile.react-calendar__year-view__months__month {
  color: white;
}

button.react-calendar__tile.react-calendar__century-view__decades__decade {
  color: white;
}

.react-calendar__tile:hover {
  background-color: rgb(120, 137, 183) !important;
  /* Cor de fundo ao passar o mouse */
  color: rgb(25, 29, 42) !important;
  cursor: pointer;
  /* Alterar o cursor para indicar que é clicável */
  transition: background-color 0.3s ease;
  /* Transição suave para o hover */
}

/* Estilo para o efeito de hover no rótulo do mês */
.react-calendar__navigation__label:hover {
  /* Cor de fundo ao passar o mouse */
  color: rgb(120, 137, 183) !important;
  cursor: pointer;
  /* Alterar o cursor para indicar que é clicável */
  transition: background-color 0.3s ease;
  /* Transição suave para o hover */
}

.react-calendar__navigation__arrow:hover {
  background-color: rgb(120, 137, 183) !important;
  /* Cor de fundo ao passar o mouse */
  color: rgb(25, 29, 42) !important;
  cursor: pointer;
  /* Alterar o cursor para indicar que é clicável */
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Transição suave para o hover */
}

.calendar-box .react-calendar__navigation button:disabled,
.calendar-box button.react-calendar__navigation__label {
  background-color: rgb(25, 29, 42) !important;
}

.calendar-box button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.calendar-box button.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.calendar-box .calendar-box button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.calendar-box button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.calendar-box button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  background-color: rgb(25, 29, 42);
}

/* >>> DIV QUE APARECE A COR DA TAREFA <<< */
.circle-color {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

/* >>> TÍTULO DA TAREFA <<< */
.titles-tasks {
  margin-left: 5px;
}

.react-calendar__month-view__days__day abbr {
  display: block;
  text-align: left; /* Alinha os números dos dias à esquerda */
  position: relative;
  bottom: 20px; /* Ajuste a posição vertical, se necessário */
  right: 40%; /* Ajuste a posição horizontal, se necessário */
  font-size: 20px; /* Tamanho da fonte para o número */
}

/* Mantém os dias da semana centralizados */
.react-calendar__month-view__weekdays__weekday abbr {
  text-align: center; /* Centraliza os dias da semana */
  display: block;
  font-size: 14px; /* Tamanho da fonte para os dias da semana */
}

.react-calendar__year-view__months__month abbr {
  font-size: 20px; /* Define o tamanho da letra dos meses */
  font-weight: bold; /* Opcional: Deixa o texto em negrito */
  text-transform: capitalize; /* Deixa a primeira letra maiúscula, opcional */
}

.react-calendar__navigation__label__labelText {
  text-transform: capitalize; /* Transforma a primeira letra em maiúscula */
}